.about img {
    display: block;
    width: 100%;
}

.about {
    background-color: var(--background-light-color);
    padding-top: 90px;
}

@media (min-width: 768px) {
    .about {
        padding-top: 107.5px;
    }
}

@media (min-width: 992px) {
    .about {
        padding-top: 125px;
    }
}

.about__container {
    max-width: 1200px;
    margin: auto;
    padding: 0 9px;
}

.about__main-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .about__main-text {
        flex-direction: row;
    }
}

.about__main-text__img {
    padding: 0 15px;
}

.about__main-text img {
    min-width: 272px;
}

@media (min-width: 768px) {
    .about__main-text img {
        max-width: 470px;
    }
}

.about__main-text_hanna {
    padding: 0 15px;
    min-width: 272px;
    margin-top: 50px;
}

@media (min-width: 768px) {
    .about__main-text_hanna {
        margin: 0;
    }
}

.about__h2 {
    font-family: Martel;
    font-size: 34px;
    font-weight: 1000;
    line-height: 40.8px;
    color: var(--header-dark-color);
}

@media (min-width: 768px) {
    .about__h2 {
        font-size: 38px;
        line-height: 45.6px;
    }
}

@media (min-width: 992px) {
    .about__h2 {
        font-size: 42px;
        line-height: 50.4px;
    }
}

.about__subheader {
    font-family: Lato;
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 400;
    color: var(--subheader-dark-color);
}

@media (min-width: 768px) {
    .about__subheader {
        font-size: 19px;
        line-height: 26.6px;
    }
}

@media (min-width: 992px) {
    .about__subheader {
        font-size: 21px;
        line-height: 29.4px;
    }
}

.about__padding {
    padding: 15px 0;
}

.about__padding__line {
    height: 3px;
    width: 10%;
    background-color: rgb(9, 157, 208);
}

.about__biography {
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    color: var(--main-text-dark-color);
    margin-top: 25px;
}

#about__button {
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-text-inside-color);
    padding: 18px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 16.5px;
    font-weight: 600;
    margin-top: 35px;
    border-radius: 7px;
}

#about__button:hover {
    background-color: rgb(34, 34, 34)
}

.about__diplomas {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px 90px 15px;
}

@media (min-width: 768px) {
    .about__diplomas {
        padding-bottom: 105px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 992px) {
    .about__diplomas {
        padding-bottom: 120px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .diplom {
        min-width: 272px;
    }
}

.diplom__h4 {
    font-family: Lato;
    font-size: 19px;
    font-weight: 600;
    margin-top: 20px;
    max-width: 100%;
    color: var(--header-dark-color);
}

.diplom__text {
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    margin-top: 25px;
    max-width: 100%;
    color: var(--main-text-dark-color);
}
