.section-accordion-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 15px;
}

.section-accordion-h {
    font-size: 38px;
    margin-top: 10px;
    font-family: 'Martel', serif;
    color: var(--services-section-color);
}

.section-accordion-blue-line {
    height:3px;
    width: 70px;
    background-color: var(--button-background-color);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.accordion-item button{
    font-weight: bold;
    color: var(--accordion-button-color);
}

.section-accordion-p {
    font-size: 19px;
    font-family: 'Lato';
    color: var(--section-paragraph-color);
}

#accordionFlushExample {
    margin-bottom:15px;
}

@media(min-width:700px) {
    #grid-container-accordion {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        /* height: 400px; */
        margin-top: 10px;
    } 
    .section-accordion-img {
        grid-column: 1;
        grid-row: 1/4;
    }
    .section-accordion-h {
        grid-column: 2;
        grid-row: 1;
    }
    .section-accordion-blue-line {
        grid-column: 2;
        grid-row: 2;
        margin-top: -20px;
        margin-bottom:-20px;
    }
    .section-accordion-p {
        grid-column: 2;
        grid-row: 3;
        margin-top: -20px;
        margin-bottom:-20px;
    }
    #accordionFlushExample {
        grid-column: 2;
        grid-row: 4;
        /* margin-top: -20px; */
        /* margin-bottom:-20px; */
    }
}