.section-header h2 {
	padding-top: 15px;
	font-size: 38px;
	font-family: 'Martel';
	color: var(--services-section-color);
	display: flex;
	justify-content: center;
	text-align: center;
}

.section-header-paragraph {
	font-size: 19px;
	font-family: 'Lato';
	color: var(--section-paragraph-color);
	display: flex;
	justify-content: center;
	text-align: center;
}

.services-example {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.carousel-header {
	font-size: 21px;
	padding-top: 5px;
	font-family: 'Martel';
	color: var(--carousel-header-color);
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.services-example-paragraph {
	font-size: 17px;
	font-family: 'Lato';
	color: var(--services-paragraph-color);
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 8px;
}




