@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
.services_block h2 {
    font-size: 42px;
    font-family: "Martel" sans-serif;
    color: #25406e;
    vertical-align: middle;
}
.services_block p {
    font-size: 19px;
    font-family: "Lato" sans-serif;
    vertical-align: middle;
}
.services_block_images img {
    width: 338px;
    height: 222.99px;
}
.services_block_images p {
font-size: 21px;
font-family: "Martel" serif;
}