.blog__h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Martel, serif;
    font-size: 42px;
    font-weight: 1000;
    line-height: 40.8px;
    text-align: center;
    color: var(--header-dark-color);
}

.blog__header p {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 19px;
    color: var(--main-text-dark-color);
    padding-left: 20px;
    padding-right: 20px;
}

.blogg__content1 {
    margin: 50px 30px;
    padding: 20px;
    border: 2px solid var(--blog-border-light);
}

.content-article {
    color: var(--blog-section-header);
    font-size: 17px;
    line-height: 1.5px;
    padding: 20px 10px;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.blogg__content1 h3 {
    font-family: Martel, serif;
    font-size: 28px;
    text-align: left;
    padding: 20px 10px;
    line-height: 40.5px;
}

.content-blog {
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: var(--main-text-dark-color);
    padding: 20px 10px;
    margin-bottom: 10px;
    line-height: 34.5px;
}

.date-blog {
    font-size: 18px;
    line-height: 1.5px;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.blogg__content2 {
    padding: 20px;
    margin: 50px 30px;
    border: 2px solid var(--blog-border-light);
}

.blogg__content2 h3 {
    font-family: Martel, serif;
    font-size: 28px;
    text-align: left;
    padding: 20px 10px;
    padding-right: 20px;
    line-height: 40.5px;
    font-weight: 600;
}

.blogg__content3 {
    background-image: linear-gradient( rgba(37, 64, 110, 0.774), rgba(37, 64, 110, 0.781)), url(../img/blog-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 30px;
    border: 2px solid var(--blog-border-light);
}

.button__blog {
    margin: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: var(--button-background-color);
    border: none;
    color: white !important;
    padding: 18px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 16.5px;
    font-weight: 600;
    margin-top: 35px;
    border-radius: 7px;
}

.content3 p {
    color: var(--subheader-light-color);
    font-size: 17px;
    line-height: 1.5px;
    padding: 40px 20px;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.content3 h3 {
    font-family: Martel, serif;
    font-size: 28px;
    text-align: left;
    padding: 20px;
    padding-right: 20px;
    margin-top: 20px;
    line-height: 40.5px;
    color: var(--subheader-light-color);
}

@media(min-width:786px) {
    .line__hr {
        margin: 0 auto;
        width: 40px;
        background: #099DD0;
        border: 2px double #099DD0;
        margin-bottom: 20px;
    }
    .blog__content {
        display: flex;
        justify-content: space-around;
    }
    .blogg__content3 {
        background-image: linear-gradient( rgba(37, 64, 110, 0.774), rgba(37, 64, 110, 0.781)), url(../img/blog-background.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        background-clip: content-box;
        margin: 50px 30px;
        border: 2px solid var(--blog-border-light);
        flex:1;
    }
    .blogg__content1 {
        flex:1;
    }
    .blogg__content2 {
        flex:1;
    }
    .button__blog {
        margin-top: 100px;
        padding-right: 40px 60px;
        font-size: large;
        text-align: center;
    }
}