@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lato&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    
}
h1 {
    font-size: 64px;
    font-family: 'Martel', serif;
    color: #25406e;
}
:root {
    --header-dark-color: rgb(37, 64, 110);
    --header-light-color: rgb(255, 255, 255);
    --button-background-color: rgb(9, 157, 208);
    --button-text-inside-color: rgb(255, 255, 255);
    --subheader-dark-color: rgb(77, 76, 76);
    --main-text-dark-color: rgb(100, 100, 100);
    --subheader-light-color: rgb(255, 255, 255);
    --main-text-light-color: rgb(217, 217, 217);
    --background-light-color: rgb(245, 238, 231);
    --background-dark-color: rgb(37, 64, 110);
    font-family: 'Lato', sans-serif;
}
