
#schedule-option {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/schedule-bgd/schedule-background.png);
    background-size: cover;
    background-position: center;
    height: 650px;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0 auto;
    padding-top: 15px ;
  /*padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around; */
}

.schedule-option-text {
   padding-left: 40px;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   

}
.schedule-header {
    color: var(--schedule-title-color);
    font-size: 38px;
    font-family: 'Martel';
}

.schedule-devider {
    width: 58px;
    height: 3px;
    background-color: var(--button-background-color);
   /* padding-left: -20px; */
}

.schedule-info-text {
    font-family: 'Lato';
    font-size: 19px;
    color: var(--schedule-info-text);
    padding: 15px 0;
    
}

.schedule-asterisk {
    color: var(--button-background-color);
}

.schedule-info-note {
    font-family: 'Lato';
    font-size: 14px;
    color: var(--schedule-info-note);
    padding-top: 10px;

}

.schedule-form {
    padding-top: -5px;
    padding-left: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-input {
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 6px 6px 6px 6px;
    line-height: 1.2;
    background-color: var(--form-box-bgd);
    width: 350px;
    text-align: left;
    
}

.input-first-consult {
    background-color: var(--form-box-bgd);
    text-align: left;
    
}

.input-first-consult:focus {
    outline: none;
}

.schedule-form-btn {
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-text-inside-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    border-radius: 7px;
    width: 100%;
    height: 43px;
}

@media (min-width:700px) {
    #schedule-option {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;    
    }

    .schedule-option-text {
        grid-row: 1;
        grid-column: 1/2;       
    }

    .schedule-form {
        grid-row: 1;
        grid-column: 2/3;   
    }
}


