@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.consultation__block-before h2 {
    font-family: 'Martel', sans-serif;
    font-weight: bold;
    color: #25406e;
    font-size: 42px;
}
.consultation__block-before p {
    font-family: 'Lato', sans-serif;
    color: rgb(77,76,76);
    font-size: 19px;
}
.consultation__block-before ul {
    font-family: 'Lato', sans-serif;
    color: #646464;
    font-size: 17px;
    list-style-type: none;
}
.consultation__block-before-italic {
    font-family: 'Lato', sans-serif;
    color: #8f8f8f;
    font-size: 17px;
    font-style: italic;
}
a.consultation-button {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    margin-top: 52px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;  
}
.consultation__block-after h2 {
    font-family: 'Martel', sans-serif;
    font-weight: bold;
    color: #25406e;
    font-size: 42px;
}
.consultation__block-after p {
    font-family: 'Lato', sans-serif;
    color: rgb(77,76,76);
    font-size: 19px;
}
.consultation__block-after ul {
    font-family: 'Lato', sans-serif;
    color: #646464;
    font-size: 17px;
    list-style-type: none;
}
.consultation__block-after-italic {
    font-family: 'Lato', sans-serif;
    color: #8f8f8f;
    font-size: 17px;
    font-style: italic;
}
.banner-consultation-before {
    background-image: url(../img/consultations/before-consultations.png);
    width: 50%;
    background-size: cover;
}
.consultation__block-before {
    background-color: #f5eee7;
    width: 50%;
}
.consultation-before {
    display: flex;
    height: 750px;
}
.banner-consultation-after {
    background-image: url(../img/consultations/after-consultations.png);
    width: 50%;
    background-size: cover;
}
.consultation__block-after {
    background-color: #f5eee7;
    width: 50%;
}
.consultation-after {
    display: flex;
    height: 750px;
}
