@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.contact-us {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: var(--background-dark-color);
}

.contact-us__text {
    padding: 90px 24px 30px 24px;
    display: flex;
    flex-direction: column;
}

.contact-us__title {
    font-size: 34px;
    color: white;
    font-family: Martel, serif;
}

.contact-us-19px {
    font-size: 19px;   
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.contact-us-21px {
    font-size: 21px;
    color: white;
    font-family: Martel, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-us-17px {
    font-size: 17px;
    color: #d9d9dff5;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.form-section {
    background-color: var(--background-dark-color);
}

.form-background {
    width: 0 auto;
    height: 564px;
    margin: 30px 24px 40px 24px;
    background-color: #FFFFFF0A;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    border-radius: 10[x]
}

form input {
    text-align: center;
}

.form-field {
    background-color: var(--background-dark-color);
}

.form-field textarea {
    background-color: var(--background-dark-color);
    width: 228px;
    height: 150px;
    text-align: center;
    font-family: Lato, sans-serif;
    color: white;
}

.input {
    width: 228px;
    height: 47px;
    background-color: var(--background-dark-color);
    color: white;
    font-family: Lato, sans-serif;
    border: none;
}

.input::placeholder {
    font-family: Lato, sans-serif;
    font-size: larger;
    color: #637698;
}

.form-field textarea::placeholder {
    color: #637698;
    padding-top: 15px;
    font-weight: 400;
    font-family: Lato, sans-serif;
    font-size: larger;
}

.form-button {
    background-color: var(--button-background-color);
    border: none;
    color: var(--button-text-inside-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    border-radius: 7px;
    width: 228px;
    height: 43px;
}

@media (min-width: 1440px) {
    .contact-us__title {
        font-size: 42px!important;
    }
    .inner {
        padding: 20px 110px 100px 110px;
    }
    .input {
        width: 370px;
        height: 47px;
        background-color: var(--background-dark-color);
        color: white;
        font-family: Lato, sans-serif;
        box-sizing: border-box;

    }
    .form-field textarea {
        background-color: var(--background-dark-color);
        width: 370px;
        height: 150px;
        text-align: center;
        font-family: Lato, sans-serif;
        color: white;
        border-radius: 10px;
    }
    .input::placeholder {
        font-family: Lato, sans-serif;
        font-size: larger;
        color: #637698;
    }
    
    .form-field textarea::placeholder {
        color: #637698;
        padding-top: 15px;
        font-weight: 400;
        font-family: Lato, sans-serif;
        font-size: larger;
    }
}

@media (min-width: 1024px) {

}

@media (min-width: 768px) {
    .contact-us__title {
        font-size: 38px;
    }
    .inner {
        display: flex;
        align-items: center;
    }
    .contact-us__text {
        width: 50%;
        display: grid;
    }
    .form-section {
        width: 50%;
        display: grid;
    }
    .content-grid {
        display: grid;
        grid-template-columns: 100px 250px;
        column-gap: 30px;
        row-gap: 30px;
    }

}

@media (min-width: 425px) {

}

@media (min-width: 375px) {

}

@media (min-width: 320px) {
    .contact-us-map {
        margin-top: 30px;
    }
}