@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.contact-us {
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: var(--background-dark-color);
}

.contact-us__text {
    padding: 90px 24px 30px 24px;
    display: flex;
    flex-direction: column;
}

.contact-us__title {
    font-size: 34px;
    color: white;
    font-family: Martel, serif;
}

.contact-us-19px {
    font-size: 19px;   
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.contact-us-21px {
    font-size: 21px;
    color: white;
    font-family: Martel, serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-us-17px {
    font-size: 17px;
    color: #d9d9dff5;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.contact-us-map iframe {
    width: 272px;
    height: 223px;
    padding-top: 30px;
}

