.contact-us {
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--background-dark-color);
}

.contact-us__text {
    padding: 90px 24px 30px 24px;
    display: flex;
    flex-direction: column;
}

.contact-us__title {
    font-size: 34px;
    color: white;
}

.contact-us-19px {
    font-size: 19px;   
    color: white;
}

.contact-us-21px {
    font-size: 21px;
    color: white;
}

.contact-us-17px {
    font-size: 17px;
    color: #d9d9dff5;
}

.contact-us-map iframe {
    width: 272px;
    height: 223px;
}

