 
 .container{
     max-width: 1200px;
     margin: 0 auto;
 }
 
 .header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: white;
 }

/* .header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: ;
    z-index: 2;
} */

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 20px 0 20px;
}

.header__logo{
    flex: 0 0 162px;
    position: relative;
    z-index: 3;
}

.header__logo img{
    max-width: 100%;
    display: block; 
}

.header__burger{
    display: none;
}

.header__list li{
    list-style: none;
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__link {
    margin: 0px 0px 0px 40px;
}

.header__link {
    text-decoration: none;
}

@media (max-width:991px){
    body.lock {
        overflow: hidden;
    }
    .header__body{
        height: 100px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        z-index: 3;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
        background-color: white;  /* тут меняется цвет выпадающего меню*/
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 120px;
    }
    .header__menu.active {
        top: 0;
    }
    .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__list li {
        margin: 0px 0px 20px 0px;
    }
    .contact-header {
        display: none;
    }
}


.content  {  
    padding: 250px 0;
    background-image: url(../img/banner.png);
    background-size: cover;
}

.contact-header__body {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.contact-header {
    background-color: antiquewhite;
}

.contact-header__link{
    color: inherit;
    text-decoration: inherit;
}

.contact-header__blue-text {
    color: blue;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.header-contacts__hours-text {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
}
.header-contacts__hours {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #099dd0;
}
.header-container {
    background-color: #f5eee7;

}
.header-contacts {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.header-contacts__phone {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.header-contacts__phone:hover {
    text-decoration: underline;
}

.header-contacts__mail {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.header-contacts__mail:hover {
    text-decoration: underline;
}

.banner {
    background-image: url(../img/banner.png);
    width: 100%;
    background-size: cover;
}
.header-banner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 235px 0 200px 0;
}

.header-navigation {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.header-nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 40px;
}
.header-nav a {
    color: #000000;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
.header-nav a:hover {
    text-decoration: underline;
}

.header-icon {
    padding: 30px;
    display: flex;
    gap: 15px;
}

.header-banner__paragraph {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222222;
    font-size: 19px;
    padding: 2px;
}
a.header-banner__appointment {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 12px;
    margin-top: 52px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
} */