
.photo-fon{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/nestorko-banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;          
    min-height: 400px;    
}

.first-content{
    padding-top: 150px;    
}

.first-text{
    color: white;
}

.second-text{
    color: white;
}

.watch a {
    text-decoration: none;
    color: white;
}

.watch a:hover {
    text-decoration: underline;
}


.line{
    border: 1px solid rgb(84, 84, 228);
    background-color: rgb(84, 84, 228);
    width: 50px;
    height: 3px;   
}

@media(min-width:700px) {
    .first-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .first-text h3{
        grid-column: 1;
        grid-row: 1;
    }
    .line {
        grid-column: 1;
        grid-row: 2;
    }
    .second-text{
        grid-column: 1;
        grid-row: 3;
    }
    .watch{
        grid-column: 2;
        grid-row: 1/span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;        
    }
}


/* section-r */

.section-r{
   display: flex;
   flex-direction: row;
   background-color: rgb(40, 40, 119);   
}
  
.text-content{
    width: 250px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 330px;
    font-size: 14px;
}

.text-why{
    color: white;
    margin-bottom: 10px;
}

.text-111{
    color: white;
    margin-bottom: 10px;
}

.text-222{    
    color: rgb(197, 178, 178);
}

.text-11{
    margin-bottom: 10px;
}

.box-photo-all{
    border: 1px solid rgb(40, 40, 119);
    width: 520px;  
    display: grid;
    grid-template-columns: 1fr 1fr;      
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
}

.box-photo{
    border: 1px solid rgb(40, 40, 119);
    width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;    
    background-color: rgb(45, 45, 143);    
}

.photo{   
   display: block;
   padding: 5px;
   border-radius: 50px;
   margin: 30px;   
   background-color: white;       
}

.text-photo{
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}

.link-1 a {
    margin-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.link-1 a:hover{
    text-decoration: underline;
}
