
.photo-fon{
    background-image: url(../img/nestorko-banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;     
    min-height: 400px;    
}

.first-content{
    padding-top: 100px;
    padding-left: 350px;
}

.line{
    border: 1px solid rgb(84, 84, 228);
    background-color: rgb(84, 84, 228);
    width: 50px;
    margin-bottom: 10px;
    padding: 1px;
}

/* section-r */

.section-r{
   display: flex;
   flex-direction: row;
   background-color: rgb(40, 40, 119);   
}
  
.text-content{
    width: 250px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 330px;
    font-size: 14px;
}

.text-why{
    color: white;
    margin-bottom: 10px;
}

.text-111{
    color: white;
    margin-bottom: 10px;
}

.text-222{    
    color: rgb(197, 178, 178);
}

.text-11{
    margin-bottom: 10px;
}

.box-photo-all{
    border: 1px solid rgb(40, 40, 119);
    width: 520px;  
    display: grid;
    grid-template-columns: 1fr 1fr;      
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 50px;
}

.box-photo{
    border: 1px solid rgb(40, 40, 119);
    width: 250px;
    margin-bottom: 10px;
    margin-right: 10px;    
    background-color: rgb(45, 45, 143);    
}

.photo{   
   display: block;
   padding: 5px;
   border-radius: 50px;
   margin: 30px;   
   background-color: white;       
}

.text-photo{
    margin-left: 20px;
    margin-bottom: 10px;
    color: white;
}

.link-1 a {
    margin-left: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.link-1 a:hover{
    text-decoration: underline;
}
